@model MedicationInventoryManagement.Entities.Medication

<div class="position-fixed end-0 me-3">
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        @await Html.PartialAsync("_ErrorMessage", error.ErrorMessage);
    }
</div>

<h2>Create Medication</h2>

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group">
        <label for="medicationName">Medication Name</label>
        <input type="text" class="form-control" id="medicationName" name="medicationName" required>
    </div>
    <div class="form-group">
        <label for="expirationDate">Expiration Date</label>
        <input type="date" class="form-control" id="expirationDate" name="expirationDate" required>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>