@model IEnumerable<MedicationInventoryManagement.Entities.Medication>;

@{
    ViewData["Title"] = "Medication Inventory";
}

<h1 class="text-center mb-5">Medication Inventory</h1>

<a asp-controller="Home" asp-action="Create">Add new medication</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Medication Name</th>
        <th>Expiration Date</th>
        <th>Quantity</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var medication in Model)
    {
        <tr>
            <td>@medication.MedicationName</td>
            <td>@medication.ExpirationDate.ToString("dd.MM.yyyy")</td>
            <td>@medication.Quantity</td>
            <td>
                    <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-Remove-@medication.MedicationId">Remove</a>
                    <a type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-Reduce-@medication.MedicationId">Reduce Quantity</a>
                @{
                    var removeMedication = new ModalData()
                    {
                        Id = medication.MedicationId,
                        MessageText = "Are you sure you want to remove this medication from the inventory?",
                        ButtonText = "Remove",
                        ButtonType = "danger",
                        ControllerName = "Home",
                        ActionName = "Delete"
                    };
                    var reduceQuantity = new ModalData()
                    {
                        Id = medication.MedicationId,
                        MessageText = "",
                        ButtonText = "Reduce",
                        ButtonType = "warning",
                        ControllerName = "Home",
                        ActionName = "Reduce",
                        Quantity = medication.Quantity
                    };
                }
            </td>
        </tr>
        @await Html.PartialAsync("_Modal", removeMedication)
        @await Html.PartialAsync("_Modal", reduceQuantity)
    }
    </tbody>
</table>