<div class="card">
    <div class="card-header">
        Notifications @if (Model != null && Model.Count > 0)
                      {
                          <span class="badge rounded-pill bg-danger">@Model.Count</span>
                      }
    </div>
    <div class="card-body shadow-lg overflow-auto scrollable">
        @if(Model != null && Model.Count > 0)
        {
            @foreach (var notification in Model)
            {
                var color = "warning";
                if (notification.NotificationType == "expired")
                {
                    color = "danger";
                }
                <div class="alert alert-@color">
                    <strong>@notification.NotificationType: </strong> @notification.NotificationMessage
                </div>
            }
        }
        else
        {
            <div class="text-center mb-0">
                No new notifications
            </div>
        }
    </div>
</div>  